<div id="<%= dom_id shop %>">
  <p>
    <strong>Name shop:</strong>
    <%= shop.Name_shop %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= shop.Address %>
  </p>

  <p>
    <strong>Coordinates:</strong>
    <%= shop.Coordinates %>
  </p>

</div>
