<p style="color: green"><%= notice %></p>

<h1>Shops</h1>

<div id="shops">
  <% @shops.each do |shop| %>
    <%= render shop %>
    <p>
      <%= link_to "Показати", shop %>
    </p>
  <% end %>
</div>

<%= link_to "Новий магазин", new_shop_path %>
