<p style="color: green"><%= notice %></p>

<h1>Аккаунти</h1>

<div id="users">
  <% @users.each do |user| %>
    <%= render user %>
    <p>
      <%= link_to "Показати", user %>
    </p>
  <% end %>
</div>

<%= link_to "Новий аккаунт", new_user_path %>
