<p style="color: green"><%= notice %></p>

<h1>Продукти</h1>

<div id="wares">
  <% @wares.each do |ware| %>
    <%= render ware %>
    <p>
      <%= link_to "Показати продукт", ware %>
    </p>
  <% end %>
</div>

<%= link_to "Новий продукт", new_ware_path %>
