<h1>Трохи про додаток</h1>
<h2>Тема "Система самосканування товарів у супермаркеті"</h2>
<h3>Мета:  розробка технології самообслуговування покупців, яка вільна від недоліків способу самообслуговування з самостійним скануванням.</h3>