<h1>Трохи про додаток</h1>
<h2>Тема "Система самосканування товарів у супермаркеті"</h2>
<h3>Мета:  розробка технології самообслуговування покупців, яка вільна від недоліків способу самообслуговування з самостійним скануванням.</h3>
<p>Вимоги користувачів до інформаційної системи. Проаналізувавши різні системи, визначили, що найбільш ефективним способом самообслуговування є самостійне сканування і єдиним недоліком, який знижує привабливість цієї технології є значні витрати на придбання портативних сканерів, на їхнє обслуговування, ремонт, та втрати, що неминучі при непрофесійній експлуатації прецизійних електронних приладів.
Після огляду існуючих рішень було визначено, що розроблюване ПЗ має ряд переваг,  а саме : економічна вигода для мереж розрібної торгівлі:
-	зниження витрат на придбання портативних сканерів;
-	зниження витрат на обслуговування портативних сканерів;
-	зниження витрат на ремонт портативних сканерів.
До факторів, що впливають на соціальну вигоду можна віднести наступне:
-	покращення репутації магазину;
-	збільшення кількості лояльних клієнтів.
Найважливішим в даному випадку є клієнт мережі роздрібної торгівлі, він не є отримувачем прямої економічної вигоди, але є отримувачем соціальної:
-	зменшення часу проведеного в магазині;
-	забезпечення приватності покупки.
</p>